extends layout

block content
  h1= title
  form(method="POST", action="/music/add")
    .form-group
        label(for='name') mahsulot nomi
        input#name.form-control(type='text' name="name")
    .form-group
        label(for='singer') ismingiz
        input#singer.form-control(type='text' name="singer")
    .form-group
        label(for='comment') telefon raqamingiz va manzilingiz
        input#comment.form-control(type='text ' name="comment")
   
    button.btn.btn-primary(type='submit') Yuborish

